@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* Color scheme for light mode */
  :root {
    --background: 96 50% 96%;
    --foreground: 92 46% 8%;

    --card: 153, 44%, 95%;
    --card-foreground: 92 46% 8%;
    --popover: 96 50% 96%;
    --popover-foreground: 92 46% 8%;

    --primary: 93 72% 75%;
    --primary-foreground: 92 46% 8%;
    --secondary: 154 45% 73%;
    --secondary-foreground: 92 46% 8%;

    --muted: 96 51% 20%;
    --muted-foreground: 92 46% 70%;
    --accent: 175 46% 62%;
    --accent-foreground: 92 46% 8%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 92 46% 8%;
    --border: 96 51% 20%;
    --input: 96 51% 20%;
    --ring: 175 46% 40%;
    --radius: 0.5rem;
  }

  /* Color scheme for dark mode */
  .dark {
    --background: 96 50% 4%;
    --foreground: 92 46% 92%;

    --card: 96 50% 4%;
    --card-foreground: 92 46% 92%;
    --popover: 96 50% 4%;
    --popover-foreground: 92 46% 92%;

    --primary: 93 72% 25%;
    --primary-foreground: 92 46% 92%;
    --secondary: 154 45% 27%;
    --secondary-foreground: 92 46% 92%;

    --muted: 96 50% 80%;
    --muted-foreground: 92 46% 92%;
    --accent: 175 46% 38%;
    --accent-foreground: 96 50% 4%;
    
    --destructive: 0 62% 30%;
    --destructive-foreground: 91 45% 10%;
    --border: 96 50% 60%;
    --input: 96 50% 80%;
    --ring: 175 46% 60%;
  }
}

/* Applies tailwind css to elements */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
